<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="../../stylesheets/index.css">
</head>
<body>
    <header>
        <%- include('../partials/navbar'); %>
        <div class="greeting-container d-flex flex-column align-items-center justify-content-center">
            <%- include('../partials/greeting'); %>
        </div>
    </header>
    <div class="content-container d-flex flex-column align-items-center justify-content-center">
        
        <div id="bloglist" class="col col-lg-6 m-4">
                <% blogs.forEach(blog => { %>
                    <div class="blog-post-date mb-2">
                        <%= blog.date %>
                    </div>
                    <h5> <%= blog.title %></h5>                  
                    <div>
                        <p style="text-align: justify;"><%= blog.body %></p>
                    </div>
                <% }); %>
        </div>

    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>